.controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.unit {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #11202c;
  border-radius: 100px;
  margin-bottom: 1rem;
}
