.unit {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #11202c;
  border-radius: 100px;
  margin-bottom: 1rem;
}

.circle {
  width: 25%;
  height: 25%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #c62368;
  animation: left-to-right 1.5s linear forwards infinite;
}

@keyframes left-to-right {
  0% {
    transform: rotate(0deg) translate(-75px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-75px) rotate(-360deg);
  }
}
